:root{
    --colorPrimaty: #3498DB;
    --colorSecundary:#929597;
    --colorText: #ffff;
    --hoverButton:#21618C;
    --fuentePrimary: 'Montserrat', sans-serif;
}
body{
    font-family: var(--fuentePrimary);
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
.title{
    text-align: center;
    margin: 1rem auto;
    color: var(--colorText);
}
/***FORM***/
.form-main{
    background-color: var(--colorPrimaty);
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-b: 0.5rem; */
}

.main{
    background-color: rgba(58, 58, 58, 0.2);
    width: 80%;
    height: 90vh;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    
}
@media(min-width: 468px){
    .main{ 
        width: 80%;
    }
}
@media(min-width: 768px){
    .main{ 
        width: 40%;
    }
}
.main-inactive{
    opacity: 0;
}
input, label, select,button{
    margin: 0rem auto;
    width: 90%;
  
}
/* @media(min-width: 468px){
    input, label, select,button{
    
    width: 90%;
    }
} */
@media(min-width: 768px){
    input, label, select,button{
   
    width: 60%;
    }
}
label{
    color: var(--colorText);
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
input,select{
    height: 2.2rem;
    border-radius: 0.4rem;
    font-size: 1rem;
}
/* @media(min-width: 468px){
    label{
        margin-top: 1.7rem;
        margin-bottom: 1rem;
    }
    input,select{
        height: 2.2rem;
        border-radius: 0.4rem;   
    }
  
} */
@media(min-width: 768px){
    label{
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    input,select{
        height: 2.2rem;
        border-radius: 0.4rem;   
    }
  
}
.btn{
    height: 2rem;
    margin-top: 2rem;
    height:3rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.3rem;
}
.answer-ok{
    background-color: var(--colorPrimaty);
}

/*Question*/
.main-question{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 300px; */
    /* background-color: var(--colorSecundary); */
    margin: auto;
    align-items: center;
    border-radius: 0.5rem;
    position: fixed;
    top: 4rem;
    left: 0;
    right: 0;

}
.main-question-none{
    display: none;
}
.questionMain{
    text-align: center;
    line-height: 1;
    font-size: 1rem;
}
@media(min-width:468px){
    .questionMain{
        text-align: center;
        line-height: 1.3;
        font-size: 1.3rem;
    }
    /* .main-question{
        width: 50%;
    }

    .questionMain{
        line-height: 1.5;
        font-size: 1.4rem;
    } */
}
@media(min-width:768px){
    .main-question{
        width: 50%;
    }

    .questionMain{
        line-height: 1.5;
        font-size: 1.4rem;
    }
}
.main-info{
    width: 90%;
}
.main-info h1{
    /* font-size: 0.3rem; */
  
}
.question-item{
    width: 100%;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.question-item:hover{
    background-color:var(--hoverButton);
    color: var(--colorText);
}
@media(min-width:468px){
    .main-info h1{
        font-size: 0.4rem;
       
    }
    .question-item{
        font-size: 1rem;
    }
}
@media(min-width:768px){
    .main-info h1{
        font-size: 1.5rem;
    }
    .question-item{
        font-size: 1.3rem;
        margin-bottom: 1rem;

    }
}
.next{
    margin-top: 2rem;
    width: 100%;
    /* display: none; */
}
.next-active{
    display: block;
}

/***SCORE***/
.container-score{
    background-color: var(--colorSecundary);
    width: 90%;
    height: 30vh;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
}
.container-score-activo{
 visibility:visible;
}
.container-score h1{
    color: var(--colorText);
    font-size: 1.2rem;
}
.container-score p{
    color: var(--colorText);
    font-size: 1.5rem;
}
.container-score button{
    color: var(--colorText);
    width: 50%;
    height: 10rem;
    border: none;
    border-radius: 0.4rem;
    background-color: var(--colorPrimaty);
    font-size: 1.3rem;
}
@media(min-width:768px){
    .container-score h1{
        font-size: 1.7rem;
    }
    .container-score{
        width: 50%;
    }
}